#chart {
	height: 100vh;
	max-height: 70vh;
	max-width: 100%;
}

.highcharts-legend-item path {
	stroke-width: 4 !important;
}

footer.footer {
	padding: 2rem;
}

@media (max-width: 1000px) {
	section.section {
		padding: 1rem 0.5rem;
	}
}